@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: dimgray;
    padding: 0;
    margin: 0;
}
